<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
    </head>
    <body>  
     <header class="flex justify-between mr-auto ml-auto mt-8 max-w-screen-xl mb-36">
        <nav>
            <ul class="flex text-base font-semibold gap-14 ml-24">
             <li><a href="">Accueil</a></li>
             <li><a href="">Paire Trouvées</a></li>
             <li><a href="">Deco</a></li>
            </ul>
        </nav>

        
        <div class="border-2 border-sky-500 px-3 py-2 text-sky-500 font-semibold mr-24">
        {% if app.user %}
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        {% else %}
            <a href="{{ path('app_login') }}">Connexion</a>
            <a href="{{ path('app_register') }}">Inscription</a>
        {% endif %}
        </div>
        

     </header>

    
      
        {% block body %}{% endblock %}

        <footer class="mr-auto ml-auto max-w-screen-xl mb-8 mt-36">
            <p class="flex justify-center">
				<small>
					Copyrights 2023 - Chaussettes - <a class="underline" href="mentions_legales.html">Mentions légales</a>
				</small>
			</p>
        
        </footer>

    </body>
</html>
