<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
    </head>
    <body>  
     <header class="flex justify-between mr-auto ml-auto mt-8 max-w-screen-xl mb-24">
        <nav>
            <ul class="flex text-base font-semibold gap-14 ml-24">

             <li><a href="{{ path('app_default') }}">Accueil</a></li>
             <li><a href="{{path('app_sock')}}">Chaussettes Perdu</a></li>
             <li><a href="{{ path('app_pair') }}">Paires Trouvées</a></li>
            </ul>
        </nav>

        <div class="flex">
        {% if app.user %}    
        <div class="border-2 border-pink-500 px-3 py-2 text-pink-500 font-semibold mr-10">
            <a href="{{ path('lost_sock', {'id' : app.user.id}) }}">Mon compte</a>
        </div>
        <div class="border-2 border-pink-500 px-3 py-2 text-pink-500 font-semibold mr-24">
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
        {% else %}
        <div class="border-2 border-pink-500 px-3 py-2 text-pink-500 font-semibold mr-10">  
            <a href="{{ path('app_login') }}">Connexion</a>
        </div>
        <div class="border-2 border-pink-500 px-3 py-2 text-pink-500 font-semibold mr-24">  
            <a href="{{ path('app_register') }}">Inscription</a>
        </div>
        {% endif %}
        </div>
        
        
     </header>
    
        <section class="px-8 lg:px-36 pb-8 bg-secondary min-h-screen">
            {% block body %}{% endblock %}
        </section>

        <footer class="mr-auto ml-auto max-w-screen-xl mb-8 mt-12 ">
            <p class="flex justify-center">
				<small>
					Copyrights 2023 - Chaussettes - <a class="underline" href="mentions_legales.html">Mentions légales</a>
				</small>
			</p>
        
        </footer>

    </body>
</html>
